@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-size: cover;
    height: 100vh;
}

.head {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.para {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.listItemsStyle {
    text-align: center;
    list-style-type: none;
}

.cart-items-container {
    text-align: center;
}